<ion-view>
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab icon="ion-home" ui-sref="app.home.posts" title="Мои темы">
            <ion-nav-view name="posts"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-email" ui-sref="app.home.feed" title="Темы партнеров">
            <ion-nav-view name="feed"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-person-stalker" ui-sref="app.home.groups" title="Группы">
            <ion-nav-view name="groups"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>