<ion-nav-bar class="bar-positive">
	<!--<ion-nav-back-button>-->
		<!--Назад-->
	<!--</ion-nav-back-button>-->
</ion-nav-bar>

<ion-nav-view></ion-nav-view>
<!--<ion-nav-view view-title="Авторизация">-->
	<!--<ion-view title="Авторизация">-->
		<!--<form ng-submit="doLogin()" novalidate method="POST">-->
			<!--<div class="list">-->
				<!--<label class="item item-input item-stacked-label form-group">-->
					<!--<span class="input-label">№ телефона:</span>-->
					<!--<input type="tel"-->
					       <!--ng-model="loginData.phone"-->
					       <!--placeholder="70001112233"-->
					       <!--required>-->
				<!--</label>-->
				<!--<label class="item item-input item-stacked-label form-group">-->
					<!--<span class="input-label">Пароль:</span>-->
					<!--<input type="password"-->
					       <!--ng-model="loginData.password"-->
					       <!--required>-->
				<!--</label>-->
				<!--<label class="item">-->
					<!--<button class="button button-block button-positive" type="submit">Вход</button>-->
				<!--</label>-->

				<!--<div class="item">-->
					<!--<button class="button button-block button-calm" type="button" ng-click="signup()">Регистрация-->
					<!--</button>-->
					<!--<a class="calm" href="#" ng-click="restorePassword()">Забыли пароль?</a>-->
				<!--</div>-->
			<!--</div>-->
		<!--</form>-->
	<!--</ion-view>-->
<!--</ion-nav-view>-->