<ion-view view-title="Новая тема">
	<ion-content>
		<form novalidate="true" ng-submit="save($event)" name="new-post">
			<div class="list">
				<label class="item item-input item-floating-label form-group">
					<span class="input-label">Название</span>
					<input type="text"
					       ng-model="newPost.title"
					       required="true"
					       name="title"
					       ng-minlength="3"
						   ng-maxlength="255"
					       placeholder="Название">
				</label>
				<label class="item item-input item-floating-label form-group">
					<span class="input-label">Описание</span>
					<textarea name="description"
					          id=""
					          rows="10"
					          style="resize: none;"
					          ng-model="newPost.description"
					          required="true"
					          ng-minlength="3"
							  ng-maxlength="1000"
					          placeholder="Описание"></textarea>
				</label>
				<label class="item item-input item-floating-label form-group">
					<span class="input-label">Цена/Вознаграждение</span>
					<input type="text"
					       ng-model="newPost.price"
						   ng-maxlength="255"
					       placeholder="Цена/Вознаграждение">
				</label>
			</div>
			<div class="padding">
				<button class="button button-block button-positive"
				        type="submit"
						submit-button
						pending="...">Создать</button>
			</div>
		</form>
	</ion-content>
</ion-view>
