<ion-view view-title="Новая тема">
	<ion-nav-back-button>
	</ion-nav-back-button>
	<ion-content>
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Название</span>
				<input type="text">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Описание</span>
				<textarea name="" id="" rows="10"></textarea>
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Цена/Вознаграждение</span>
				<input type="number">
			</label>
		</div>
		<div class="padding">
			<button class="button button-block button-positive">Создать</button>
		</div>
	</ion-content>
</ion-view>
