<ion-view view-title="Мои темы">
	<ion-nav-buttons side="secondary">
		<a class="button button-positive button-clear" ui-sref="app.home.newPost"></a>
	</ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="post in posts"
                      ui-sref="app.home.post({postId: post.id})"
                      class="item-thumbnail-left item-text-wrap">
	            <img ng-src="{{post.image}}" src="" alt=""/>
	            <small>{{post.created_at | calendar}}</small>
	            <h2>{{post.title}}</h2>
	            <p>{{post.description}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
