<ion-view title="">
	<ion-nav-buttons side="secondary">
		<a class="button button-icon icon ion-edit" ui-sref="app.home.editPost({postId: post.id})"></a>
	</ion-nav-buttons>
	<ion-content>
		<div class="list card">

			<div class="item item-avatar">
				<img src="" alt="" ng-src="{{post.user.image}}">
				<div>
					<small>{{post.user.username}}</small>
					<small class="item-note">{{post.created_at | calendar}}</small>
				</div>
				<h2>{{post.title}}</h2>
			</div>

			<div class="item item-body">
				<img class="full-image" src="" alt="" ng-src="{{post.full_image}}">

				<p>{{post.description}}</p>

				<p>Цена: {{post.price}}</p>
			</div>
		</div>

		<small style="text-align: center; display: block" ng-show="post.comments">Комментарии</small>

		<div class="list card comment" ng-repeat="comment in post.comments">
			<div class="item item-avatar">
				<img src="" alt="" ng-src="{{comment.user.image}}}">
				<h2>{{comment.user.username}}</h2>

				<p>{{comment.created_at | calendar}}</p>
			</div>
			<div class="item item-body">
				<p>{{comment.message}}</p>
			</div>
		</div>
	</ion-content>
</ion-view>
