<ion-view view-title="Редактирование">
	<ion-content>
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Имя</span>
				<input type="text" ng-model="user.first_name">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Фамилия</span>
				<textarea name="" id="" rows="10" ng-model="user.last_name"></textarea>
			</label>
		</div>
		<div class="padding">
			<button class="button button-block button-positive">Сохранить</button>
		</div>
	</ion-content>
</ion-view>
