<ion-view view-title="Редактирование" cache-view="false">
	<ion-content>
		<form novalidate ng-submit="save()">
			<div class="list">
				<label class="item item-input item-stacked-label form-group">
					<span class="input-label">Имя</span>
					<input type="text"
					       ng-model="data.first_name"
					       ng-minlength="3"
					       ng-maxlength="255"
					       required>
				</label>
				<label class="item item-input item-stacked-label form-group">
					<span class="input-label">Фамилия</span>
					<input type="text"
					       ng-model="data.last_name"
					       ng-minlength="3"
					       ng-maxlength="255"
					       required/>
				</label>
			</div>
			<div class="padding">
				<button class="button button-block button-positive" type="submit">Сохранить</button>
			</div>
		</form>
	</ion-content>
</ion-view>
